<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi,</p>
    <p>You recieved a new feedback from <%= @feedback.email %> !</p>
  </body>
</html>
