.button {
  margin: 10px auto;
}
.field {
  margin-bottom: 15px;
}
.title-field{
  margin-top: 20px;
  margin-bottom: 20px;
}
.actions {
  margin-bottom: 10px;
}
.title{
  text-align: center;
}
.search {
  margin: 10px 5px 10px 0;
}
